*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
.project
.classpath
*.db
100tifikoDB.h2.db
100tifikoDB.h2.db
100tifikoDB.lock.db
100tifikoDB.trace.db
100tifikoDB.h2.db
100tifikoDB.trace.db